body
{
    background-size:150% 150%;
    background-image: url("p4.png");   /* 背景图片 */
    background-repeat: no-repeat;   /* 背景图片不重复 */
}
#bigBox
{
    margin: 0 auto; /* login框剧中 */
    margin-top: 170px; /* login框与顶部的距离 */
    padding: 20px 50px; /* login框内部的距离(内部与输入框和按钮的距离) */
    background-color: #F0FFFFFF;    /* login框背景颜色和透明度 */
    width: 400px;
    height: 300px;
    border-radius: 10px;    /* 圆角边 */
    text-align: center; /* 框内所有内容剧中 */
}
